  # Virtual environment
venv/
.venv/

# Python compiled files
__pycache__/
*.pyc

# VS Code specific files 
.vscode/

# Operating System specific files 
.DS_Store
Thumbs.db

# Any sensitive data not meant for repo (e.g., if you had a config file with passwords)
# config.ini
# .env   